# Library `pandas` - Python Data Analysis Library

See http://pandas.pydata.org

In [2]:
import pandas as pd
import numpy  as np

In [3]:
pd.__version__

'0.19.2'

### Pandas dataframes

In [4]:
iris = pd.read_csv("iris.csv")

In [5]:
type(iris)

pandas.core.frame.DataFrame

In [45]:
iris.shape

(150, 5)

In [6]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
sepal_length    150 non-null float64
sepal_width     150 non-null float64
petal_length    150 non-null float64
petal_width     150 non-null float64
species         150 non-null object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

In [43]:
iris.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

### Retrieve rows from the dataframe

In [49]:
iris.head(2)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa

In [48]:
iris.tail(3)

     sepal_length  sepal_width  petal_length  petal_width    species
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [50]:
iris[10:13]

    sepal_length  sepal_width  petal_length  petal_width species
10           5.4          3.7           1.5          0.2  setosa
11           4.8          3.4           1.6          0.2  setosa
12           4.8          3.0           1.4          0.1  setosa

Return rows that satisfy a given critera, in this case `petal_length` less than `2.0` and `petal_width` less than or equal to `0.1`:

In [62]:
iris[np.logical_and(iris['petal_length'] < 2.0,
                    iris['petal_width'] <= 0.1)]

    sepal_length  sepal_width  petal_length  petal_width species
9            4.9          3.1           1.5          0.1  setosa
12           4.8          3.0           1.4          0.1  setosa
13           4.3          3.0           1.1          0.1  setosa
32           5.2          4.1           1.5          0.1  setosa
37           4.9          3.6           1.4          0.1  setosa

### Retreiving columns from the dataframe

Retrieve, using double brackets, a column as a `DataFrame`:

In [30]:
iris[["sepal_length"]].head(5)

   sepal_length
0           5.1
1           4.9
2           4.7
3           4.6
4           5.0

Retrieve, using single brackets, a column as a `Series`:

In [53]:
print(type(iris["sepal_length"]))

iris['sepal_length'][0:3]

<class 'pandas.core.series.Series'>

0    5.1
1    4.9
2    4.7
Name: sepal_length, dtype: float64

### Obtaining aggregate results from grouped records

First create the grouped dataframe:

In [54]:
iris.groupby(["species"])

Then aggregate by summing the values of variables for each group.

In [55]:
iris.groupby(["species"]).aggregate(np.sum)

            sepal_length  sepal_width  petal_length  petal_width
species
setosa             250.3        171.4          73.1         12.3
versicolor         296.8        138.5         213.0         66.3
virginica          329.4        148.7         277.6        101.3

Multiple aggregation functions can be specified, in a list:

In [23]:
iris.groupby(["species"]).aggregate([np.sum, np.mean])

           sepal_length        sepal_width        petal_length         \
                    sum   mean         sum   mean          sum   mean
species
setosa            250.3  5.006       171.4  3.428         73.1  1.462
versicolor        296.8  5.936       138.5  2.770        213.0  4.260
virginica         329.4  6.588       148.7  2.974        277.6  5.552

           petal_width
                   sum   mean
species
setosa            12.3  0.246
versicolor        66.3  1.326
virginica        101.3  2.026

The `describe()` method produces standard information for all numeric variables:

In [22]:
iris.groupby(["species"]).describe()

                  petal_length  petal_width  sepal_length  sepal_width
species
setosa     count     50.000000    50.000000     50.000000    50.000000
           mean       1.462000     0.246000      5.006000     3.428000
           std        0.173664     0.105386      0.352490     0.379064
           min        1.000000     0.100000      4.300000     2.300000
           25%        1.400000     0.200000      4.800000     3.200000
           50%        1.500000     0.200000      5.000000     3.400000
           75%        1.575000     0.300000      5.200000     3.675000
           max        1.900000     0.600000      5.800000     4.400000
versicolor count     50.000000    50.000000     50.000000    50.000000
           mean       4.260000     1.326000      5.936000     2.770000
           std        0.469911     0.197753      0.516171     0.313798
           min        3.000000     1.000000      4.900000     2.000000
           25%        4.000000     1.200000      5.600000     2.525000
           50%        4.350000     1.300000      5.900000     2.800000
           75%        4.600000     1.500000      6.300000     3.000000
           max        5.100000     1.800000      7.000000     3.400000
virginica  count     50.000000    50.000000     50.000000    50.000000
           mean       5.552000     2.026000      6.588000     2.974000
           std        0.551895     0.274650      0.635880     0.322497
           min        4.500000     1.400000      4.900000     2.200000
           25%        5.100000     1.800000      6.225000     2.800000
           50%        5.550000     2.000000      6.500000     3.000000
           75%        5.875000     2.300000      6.900000     3.175000
           max        6.900000     2.500000      7.900000     3.800000